#hilobar a, #hilobar a:hover, #hint a, #hint a:hover {
  cursor: pointer;
  user-select: none;
}
#hilobar a:hover, #hint a:hover {
  text-decoration: none;
}

.hilo-shortTitle {
  font-size:11px;
  font-weight: bold;
}
.hilo-sunscreen {
  position:absolute;
  top:0;
  left:0;
  z-index:500;

  width:100%;
  height:110%;
  background-color:rgba(0,0,0, 0.5);
}

.hilo-slackdot {
  font-weight: bold;
  font-size: 11px;
  color: #fff;
  background-color:red;
  text-shadow: 1px 1px 1px rgba(0,0,0,.3);
  line-height: 20px;
  border: 3px solid white;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0,0,0,.4);
  width:20px;
  height:20px;
}

.hilo-slackdot {
  z-index: 10000;
  position: absolute;
}
.hilo-slackdot.left {
  left: -10px;
}
.hilo-slackdot.right {
  right: 0;
}
.hilo-slackdot.top {
  top: 0;
}
.hilo-slackdot.bottom {
  bottom: -10px;
}
.hilo-slackdot {
  background: rgba(255, 0, 0, 1);
}

.editor {
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;

  border-bottom:5px solid #ccc;
  padding:10px;
}
.editor-title {
  order: 1;

  padding:0 10px;
}

.editor-detail-info {
  order: 2;
  flex-grow: 2;
  flex-basis: auto;

  padding:0 30px 10px;
}

.editor-action {
  order: 3;

  padding:0 10px;

  .btn {
    margin-left:5px;
  }
}

.btn.right-spacer {
  margin-right: 15px;
}
.btn.right-spacer-small {
  margin-right: 5px;
}