.modal-header
  h4 Save Your Changes?
.modal-body
  p Looks like you've made some changes to your link.
  p Do you want to save your changes?

.modal-footer
  button.btn.btn-primary.pull-right(ng-click='ok()') Save
  &nbsp;
  button.btn.btn-light.right-spacer-small.pull-right(ng-click='cancel()') Discard