.modal-header
  h3 Save Your Changes?
.modal-body
  h4 Looks like you've made some changes to your link. Do you want to save?

.modal-footer
  button.btn.btn-primary.pull-right(ng-click='ok()') Save
  button.btn.btn-light.right-spacer.pull-right(ng-click='cancel()') Discard